body {
    height: 100vh;
    background-color: #212933;
    color: #738BAA;
    margin: 0;
    font-family: 'Nunito';
    box-sizing: border-box;
}

section {
    width: 80%;
    margin: 0 auto;
    height: 100vh;
}

.viewport {
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba($color: #fff, $alpha: 0.6);
    width: 80vw;
    height: 80vh;
    margin: 100px;
}

.content {
    display: grid;
    grid-template-columns: 70% auto;
    .left {
        position: relative;
        text-align: center;
        display: grid;
        place-items: center;
        p {
            background: white;
            position: absolute;
            margin-top: -25%;
            right: 17%;
            color: black;
            padding: 1em;
            border-radius: 15px;
            width: 20vw;
            text-align: left;
        }
    }
    .yellow {
        width: 50%;
    }
    .squig {
        position: absolute;
        margin-top: 32%;
        left: 19%;
        width: 8vw;
    }
    .right {
        display: grid;
        place-items: center;
        h2 {
            color: white;
            font-size: 1.7rem;
        }
        p {
            line-height: 1.6em;
        }
    }
}

// .anim {
//     opacity: 0;
// }
@for $i from 1 through 4 {
    .anim#{$i} {
        animation: anim#{$i} $i/2+s $i/10+s forwards ease-out;
    }
    @keyframes anim#{$i} {
        from {
            transform: translateY(-15px *$i);
            opacity: 0;
        }
        to {
            transform: translateY(0);
            opacity: 1;
        }
    }
}